@import url(//db.onlinewebfonts.com/c/762c72a2791c9d3eadc7e3b6b935aa69?family=SF+UI+Display);

body {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

:root,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: SFUIDisplay;
}
